{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner" style="height:100vh">
            <div class="mdc-card form-card mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h1>Capsule app</h1>
                <p>Log into capsule app</p>
                <form action="{{ path('login') }}" method="post" class="card-login-form">
                    <div class="mdc-text-field text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" id="username" class="mdc-text-field__input" name="_username" value="{{ last_username }}" />
                        <label for="username" class="mdc-floating-label">Email address</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <div class="mdc-text-field text-field" data-mdc-auto-init="MDCTextField">
                        <input type="password" id="password" class="mdc-text-field__input" name="_password" />
                        <label for="password" class="mdc-floating-label">Password</label>
                        <div class="mdc-line-ripple"></div>
                        <!--<span class="helper-text">Type your email address</span>-->
                    </div>
                    <input type="hidden" name="_dashboard" value="/dashboard" />

                    <div class="button-group">
                        <button class="mdc-button mdc-button--raised button" data-mdc-auto-init="MDCButton">
                            login
                        </button>
                        <a href="{{ path('register') }}" class="mdc-button button-text" data-mdc-auto-init="MDCButton">register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{#
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}#}
    {#
    <main class="container">

        <section class="card-login">
            <h1 class="card-login-title">Capsule app</h1>
            <p class="card-login-subtitle">Sign into capsule app !</p>
            <form action="{{ path('login') }}" method="post" class="card-login-form">
                <div class="mdc-text-field text-field" data-mdc-auto-init="MDCTextField">
                    <input type="text" id="username" class="mdc-text-field__input" name="_username" value="{{ last_username }}" />
                    <label for="username" class="mdc-floating-label">Email address</label>
                    <div class="mdc-line-ripple"></div>
                    <!--<span class="helper-text">Type your email address</span>-->
                </div>
<!--
                <div class="form-group">
                    <label for="password">Enter your password</label>
                    <input type="password" id="password" name="_password" />
                </div>-->

                <div class="mdc-text-field text-field" data-mdc-auto-init="MDCTextField">
                    <input type="password" id="password" class="mdc-text-field__input" name="_password" />
                    <label for="password" class="mdc-floating-label">Password</label>
                    <div class="mdc-line-ripple"></div>
                    <!--<span class="helper-text">Type your email address</span>-->
                </div>
                <input type="hidden" name="_dashboard" value="/dashboard" />

                <div class="button-group">
                    <button class="mdc-button mdc-button--raised button" data-mdc-auto-init="MDCButton">
                        login
                    </button>
                    <a href="{{ path('register') }}" class="mdc-button button-text" data-mdc-auto-init="MDCButton">register</a>
                </div>
            </form>
        </section>
    </main>#}
{#
                <div class="button-group">
                    <button type="submit" class="btn btn-colored btn-raised">LOGIN</button>
                    <a href="{{ path('register') }}" class="btn btn-text">REGISTER</a>
                </div>#}