{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner" style="height:100vh">
            <div class="mdc-card form-card mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h1>Capsule app</h1>
                <p>Log into capsule app</p>

                {{ form_start(user_form, {'attr': {'class': 'card-login-form'}}) }}

                <div class="mdc-text-field text-field" data-mdc-auto-init="MDCTextField">
                    {{ form_widget(user_form.firstName, {'attr': {'class': 'mdc-text-field__input'}}) }}
                    {{ form_label(user_form.firstName, 'First name', {'label_attr': {'class': 'mdc-floating-label'}}) }}
                    <div class="mdc-line-ripple"></div>
                </div>

                <div class="mdc-text-field text-field" data-mdc-auto-init="MDCTextField">
                    {{ form_widget(user_form.lastName, {'attr': {'class': 'mdc-text-field__input'}}) }}
                    {{ form_label(user_form.lastName, 'Last name', {'label_attr': {'class': 'mdc-floating-label'}}) }}
                    <div class="mdc-line-ripple"></div>
                </div>

                <div class="mdc-text-field text-field" data-mdc-auto-init="MDCTextField">
                    {{ form_widget(user_form.email, {'attr': {'class': 'mdc-text-field__input'}}) }}
                    {{ form_label(user_form.email, 'Email address', {'label_attr': {'class': 'mdc-floating-label'}}) }}
                    <div class="mdc-line-ripple"></div>
                </div>

                <div class="mdc-text-field text-field" data-mdc-auto-init="MDCTextField">
                    {{ form_widget(user_form.password.first, {'attr': {'class': 'mdc-text-field__input'}}) }}
                    {{ form_label(user_form.password.first, 'Password', {'label_attr': {'class': 'mdc-floating-label'}}) }}
                    <div class="mdc-line-ripple"></div>
                </div>

                <div class="mdc-text-field text-field" data-mdc-auto-init="MDCTextField">
                    {{ form_widget(user_form.password.second, {'attr': {'class': 'mdc-text-field__input'}}) }}
                    {{ form_label(user_form.password.second, 'Repeat password', {'label_attr': {'class': 'mdc-floating-label'}}) }}
                    <div class="mdc-line-ripple"></div>
                </div>

                <div class="button-group">
                    <button type="submit" class="mdc-button mdc-button--raised button">REGISTER</button>
                    <a href="{{ path('login') }}" class="mdc-button button-text">LOGIN</a>
                </div>

                {{ form_end(user_form) }}
            </div>
        </div>
    </div>
{% endblock %}
