{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% set bodyClasses = 'dashboard-layout' %}

{% block body %}
    <aside class="mdc-drawer mdc-drawer--modal">
        <div class="mdc-drawer__header">
            <h3 class="mdc-drawer__title">Capsule App</h3>
            <h6 class="mdc-drawer__subtitle">{{ app.user.firstName }} {{ app.user.lastName }}</h6>
        </div>
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <a class="mdc-list-item mdc-list-item--activated" href="{{ path('dashboard') }}" aria-selected="true">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                    Home
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>
                    Settings
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">help</i>
                    Help
                </a>
                <a href="{{ path('logout') }}" class="mdc-list-item">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
                    Logout
                </a>
            </nav>
        </div>
    </aside>

    <div class="mdc-drawer-scrim"></div>

    <div class="mdc-drawer-app-content">
        <header class="mdc-top-app-bar app-bar" id="app-bar" data-mdc-auto-init="MDCTopAppBar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <a href="#" class="demo-menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
                    <span class="mdc-top-app-bar__title">Dashboard</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Add a new time capsule" alt="Add a new time capsule">add</a>
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Join a time capsule" alt="Join a time capsule">link</a>
                </section>
            </div>
        </header>

        <main class="main-content" id="main-content">
            <div class="mdc-top-app-bar--fixed-adjust"></div>
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">

                    {% for capsule in capsules %}

                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                            <div class="mdc-card dashboard-capsule-card">
                                <div class="mdc-card__primary-action mdc-ripple-upgraded dashboard-capsule-card-primary" data-mdc-auto-init="MDCButton" data-capsule-redirect="{{ capsule.id }}">
                                    <h3 class="mdc-typography--body1 mdc-typography">{{ capsule.title }}</h3>
                                    <p class="mdc-typography mdc-typography--caption">{{ capsule.description|length < 200 ? capsule.description: capsule.description|slice(0, 197) ~ '...' }}</p>
                                </div>
                                <div class="mdc-card__action-icons dashboard-capsule-card-action">
                                    <button class="mdc-icon-button mdc-card__action mdc-card__action--icon mdc-icon-toggle material-icons" role="button" aria-pressed="false"
                                            data-mdc-auto-init="MDCToggle"
                                            aria-label="Add to favorites" tabindex="0"
                                            data-toggle-on='{"label": "Remove from favorites", "content": "favorite"}'
                                            data-toggle-off='{"label": "Add to favorites", "content": "favorite_border"}'>
                                        favorite_border
                                    </button>
                                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </main>
    </div>
{% endblock %}
